<h1><b>Ruby on Rails Developer</b></h1>
<p>As a profession, I am a Ruby on Rails Developer at <a href="http://www.bengalcreativemedia.com/" target="_blank">Bengal
    Creative Media Ltd. </a> under Switzerland based company <a href="http://www.welltravel.com/#!services/cu2h"
                                                                target="_blank">WellTravel</a> . </p>
<p>I love programming and it is my passion. I have been walking on this passion since 2009 .</p>
<p> As a starter, I choose PHP and developed myself as a web developer .</p>

<p>As advancement in MVC pattern ,I choose Ruby and Rails as my favourite and now I am in Ruby on Rails technology. I
    love new advancement in technology and face the challenges.I like to work in dynamic environment.</p>

<p>I am an agile learner as well as a good team player , like to lead a team.</p>
<p> I believe that every problem has solution,work hard for this and no gain without a pain.</p>
<a href="http://goo.gl/NXLK80" target="_blank">
    <button class="btn btn-1 btn-1c margin-top">Download my resume</button>
</a>