{% load staticfiles %}
<!--DOCTYPE html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>{% block website_title %}{% endblock website_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no">
    <meta name="robots" content="index,Follow"/>
    <meta name="description" content="Home">
    <meta name="keywords" content="Home,Home">
    <meta name="author" content="Tanbir Hasan"/>
    <!-- Stylesheet -->
    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href="{% static 'css/styles.css' %}"/>
    {% block website_favicon %}{% endblock website_favicon %}

    <!-- Google Font -->
    <link
            href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
            rel='stylesheet' type='text/css'>
    <!-- Java Sript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"
            type="text/javascript"></script>
</head>

<body>
<header>
    <!-- My small picture -->
    <!--<img class="mesmall" src="{% static 'img/tanbir.png' %}" alt="tanbir">-->
    {% block website_logo %}{% endblock website_logo %}
    <h1 class="myname">{% block website_name %}{% endblock website_name %}</h1>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Menu button for mobile devices -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="active" href="about">About</a></li>
                    <li><a href="skills">Skills</a></li>
                    <li><a href="work">Work Experiences</a></li>
                    <li><a href="project">Projects</a></li>
                    <li><a href="certificates">Certificates</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<div class="wrap">
    <!-- About -->
    <div class="content about active">
        {% block about %}{% endblock about %}
    </div>

    <!-- Skills -->
    <div class="content skills">
        {% block skill %}{% endblock skill %}
    </div>

    <!-- Work -->
    <div class="content work">
        {% block experience %}{% endblock experience %}
    </div>
    <!-- Project -->
    <div class="content project">
        {% block project %}{% endblock project %}
    </div>
    <!-- Education -->
    <div class="content certificates">
        {% block certificate %}{% endblock certificate %}
    </div>
    <!-- Contact -->
    <div class="content contact">
        {% block contact %}{% endblock contact %}
    </div>
    <footer>
        {% block online %}{% endblock online %}
    </footer>
</div>

<!-- Java Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>

