<h2 class="title"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Contact informations</h2>

            <ul>
                <li><span class="smaller"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Address</span></li>
                <li><span class="bigger"> 32 Dhanmondi, Dhaka</span></li>
                <li><span class="bigger">Bangladesh</span></li>
            </ul>

            <ul>
                <li><span class="smaller"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Phone</span></li>
                <li><span class="bigger"> (+880) 174 556 4706 </span></li>

            </ul>

            <ul>
                <li><span class="smaller"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>E-mail</span></li>
                <li><span class="bigger"> tanbir2025@gmail.com </span></li>

            </ul>

          <ul>
                <li><span class="smaller"><span class="fa fa-skype" aria-hidden="true"></span> Skype</span></li>
                <li><span class="bigger"> BDMADE </span></li>

            </ul>

