<ul class="social">
    <li>Get Online</li>
    <li><a href="https://plus.google.com/118280822923097195275" target="_blank"><i class="fa fa-google-plus-square"></i></a>
    </li>
    <li><a href="https://www.linkedin.com/in/hm-tanbir-717b96114" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    </li>
    <li><a href="https://www.github.com/bdmade" target="_blank"><i class="fa fa-github-square"></i></a></li>
    <li><a href="https://www.bitbucket.com/bdmade" target="_blank"><i class="fa fa-bitbucket-square"></i></a></li>
</ul>