<h2 class="title"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Skill Sets</h2>
            <!-- Skill 1 -->
            <ul>
                <li><span class="bigger"><b>Web design & development</b></span></li>
                <li><span class="bigger2"><i class="fa fa-angle-double-right"></i> HTML5 & CSS</span></li>
		<li><span class="bigger2"><i class="fa fa-angle-double-right"></i> <a href="https://fortawesome.github.io/Font-Awesome/" target="_blank">Font-Awesome</a></span></li>
		<li><span class="bigger2"><i class="fa fa-angle-double-right"></i> Bootstrap/Foundation/Material Design</span></li>
                <li><span class="bigger2"><i class="fa fa-angle-double-right"></i> Javascript/jQuery/Angular.js</span></li>
            </ul>

            <!-- Skill 2 -->
            <ul>
                <li><span class="bigger"><b>Langauges</b></span></li>
                <li><i class="fa fa-angle-double-right"></i> PHP</span></li>
                <li><i class="fa fa-angle-double-right"></i> RUBY</span></li>
		<li><i class="fa fa-angle-double-right"></i> PYTHON</span></li>
		<li><i class="fa fa-angle-double-right"></i> C/C++</span></li>
  		<li><i class="fa fa-angle-double-right"></i> BASH</span></li>
            </ul>


<!-- Skill 3 -->
            <ul>
                <li><span class="bigger"><b>MVC Framework</b></span></li>
                <li><i class="fa fa-angle-double-right"></i> Ruby on Rails (ruby)</span></li>
                <li><i class="fa fa-angle-double-right"></i> Laravel (php)</span></li>
		<li><i class="fa fa-angle-double-right"></i> Codeigniter (php)</span></li>
		<li><i class="fa fa-angle-double-right"></i> Django (python)</span></li>
            </ul>


           <!-- Skill 4 -->
            <ul>
                <li><span class="bigger"><b>Comfortable in both OS</b></span></li>
                <li><i class="fa fa-angle-double-right"></i> Linux (Ubuntu/Fedora)</span></li>
                <li><i class="fa fa-angle-double-right"></i> Windows</span></li>

            </ul>

           <!-- Skill 5 -->
            <ul>
                <li><span class="bigger"><b>Databases</b></span></li>
                <li><i class="fa fa-angle-double-right"></i> MySQL</span></li>
                <li><i class="fa fa-angle-double-right"></i> MongoDB</span></li>
		<li><i class="fa fa-angle-double-right"></i> Postgresql</span></li>
		<li><i class="fa fa-angle-double-right"></i> Sqlite 3</span></li>
  	    </ul>

	    <!-- Skill 6 -->
            <ul>
                <li><span class="bigger"><b>CMS</b></span></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="https://www.joomla.org/" target="_blank">Joomla</a></span></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="http://laracms.cf/" target="_blank">LaraCMS</a></span></li>
	    </ul>

	     <!-- Skill 7 -->
            <ul>
                <li><span class="bigger"><b>Version control</b></span></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="http://www.github.com/" target="_blank">Github</a></span></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="http://www.bitbucket.com/" target="_blank">Bitbucket</a></span></li>
	    </ul>

              <!-- Skill 8 -->
            <ul>
                <li><span class="bigger"><b>Deployment in</b></span></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="http://www.heroku.com/" target="_blank">Heroku</a> (for ROR)</span></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="http://www.hostinger.in/" target="_blank">Hostinger</a> (for php)</span></li>
	   </ul>


              <!-- Skill 9 -->
            <ul>
                <li><span class="bigger"><b>Testing</b></span></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="http://www.heroku.com/" target="_blank">RSpec</a></span></li>

                <li><i class="fa fa-angle-double-right"></i> <a href="http://www.hostinger.in/" target="_blank">Minitest</a> </span></li>
	   </ul>

