{% extends 'base.html' %}
<!-- block for website -->

{% block website_title %}
{{ website.title|safe }}
{% endblock website_title %}

{% block website_name %}
{{ website.name|safe }}
{% endblock website_name %}

{% block website_logo %}
{{ website.logo }}
{% endblock website_logo %}

<!-- block for about -->
{% block about_name %}
{{ about.name|safe }}
{% endblock about_name %}

{% block about_details %}
{{ about.details|safe }}
{% endblock about_details %}

{% block about_cv_link %}
{{ about.cv_link|safe }}
{% endblock about_cv_link %}