<h2 class="title"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>Work experiences</h2>

<!-- work 6 -->
            <ul>
                <li><span class="smaller"><span class="time glyphicon glyphicon-time" aria-hidden="true"></span>June 2016 - Present</span></li>
                <li><span class="bigger">Ruby on Rails Developer</span></li>
                 <li><span class="bigger"><b><a href="http://bengalcreativemedia.com/" target="_blank">Bengal Creative Media Ltd.</a></b></span></li>
                <li><span class="smaller"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><i>Make software using Ruby on Rails</i></span></li>
<li><span class="smaller"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><i>Testing Software to find out bugs and make it's solution</i></span></li>
            </ul>




	<!-- work 1 -->
            <ul>
                <li><span class="smaller"><span class="time glyphicon glyphicon-time" aria-hidden="true"></span>November 2015 - May 2016</span></li>
                <li><span class="bigger">Lecturer</span></li>
                <li><span class="bigger2">Department of Electronics and Computer Engineering</span></li>
                <li><span class="bigger"><b><a href="http://deibd.cf/" target="_blank">Dhaka Engineering Institute</a></b></span></li>
                <li><span class="smaller"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><i>Giving lecture about Electronics and computer related subjects.</i></span></li>
<li><span class="smaller"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><i>Build college website and maintenance it's IT section.</i></span></li>
            </ul>

<!-- work 2 -->
            <ul>
                <li><span class="smaller"><span class="time glyphicon glyphicon-time" aria-hidden="true"></span>June – October 2015</span></li>
                <li><span class="bigger">Industrial Trainer</span></li>
                <li><span class="bigger"><b><a href="http://igen.cf/" target="_blank">i.Gen Software limited</a></b></span></li>
                <li><span class="smaller"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><i>Build desktop application by Python.</i></span></li>
<li><span class="smaller"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><i>Website development by PHP,MySQL,HTML,CSS,jQuery and Bootstrap.</i></span></li>
<li><span class="smaller"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><i>MVC,OOP & OOM learning by Codeigniter and Laravel framework.</i></span></li>
<li><span class="smaller"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><i>Dynamic website development by Joomla, Wordpress and LaraCMS.</i></span></li>
            </ul>

<!-- work 3 -->
            <ul>
                <li><span class="smaller"><span class="time glyphicon glyphicon-time" aria-hidden="true"></span>June 2014 – May 2015</span></li>
                <li><span class="bigger">Software Engineer</span></li>
                <li><span class="bigger"><b><a href="http://igen.cf/" target="_blank">i.Gen Software limited</a></b></span></li>
                <li><span class="smaller"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><i>Build various type websites and web application as well as software.</i></span></li>
            </ul>


<!-- work 4 -->
            <ul>
                <li><span class="smaller"><span class="time glyphicon glyphicon-time" aria-hidden="true"></span>November 2013 – May 2014</span></li>
                <li><span class="bigger">Senior Web developer</span></li>
                <li><span class="bigger"><b><a href="https://www.elance.com/s/web2013/" target="_blank">Dreamchasers Software Limited</a></b></span></li>
                <li><span class="smaller"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><i>Build Web application by Codeigniter laravel,MySQL and MongoDB</i></span></li>
            </ul>



<!-- work 5 -->
            <ul>
                <li><span class="smaller"><span class="time glyphicon glyphicon-time" aria-hidden="true"></span>February 2011– October 2013</span></li>
                <li><span class="bigger">Junior Web developer</span></li>
                <li><span class="bigger"><b>Webcreator Limited</b></span></li>
                <li><span class="smaller"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><i>Developed and designed websites by HTML,CSS ,PHP and MySQL.</i></span></li>
            </ul>
